@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    @*<div class="top-row px-4">
        <a href="//blog.jichao.top/2020/10/25/CheckKeywords/" target="_blank" class="ml-md-auto">About</a>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
